<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--connectionUrlKey:  -->
		<add name = "ConnectionType"
             ConnectionString = "TestServer"/>
		
		<!--正式服务器地址-->
		<add name = "OfficialServer"
             ConnectionString = "http://sleep.physiomedtec.com:5001/api"/>

		<!--测试服务器地址-->
		<add name = "TestServer"
			 ConnectionString = "http://10.1.12.12:5340"/>
		
	</connectionStrings>
</configuration>