<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>-->
  <appSettings>
    <add key="Port" value="Com1" />
    <add key="DeviceName" value="FSA_BT6" />
    <add key="MontageName" value="DefaultChannels.cfg" />
    <add key="ReviewMontageName" value="DefaultChannels.cfg" />
    <add key="Remember" value="true" />
    <add key="UserName" value="admin" />
    <add key="Password" value="123456" />
    <add key="AnalysisStateWord" value="0" />
    <!--设备扫描类型 0-本地 1-远程-->
    <add key="DeviceScan" value="0" />
    <add key="FirstUpdate" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<!--鼻压力展示功能开启权限 0-关闭 1-开启-->
	<add key="PressureMuzzleFlowChannelShow" value="0" />
	  <!--鼻压力分析功能开启权限 0-关闭 1-开启-->
	<add key="PressureMuzzleFlowDataAnalysis" value="0" />
	  <!--自动事件标记配置 0-关闭 1-开启-->
	<add key="AutoMarkConfig" value="0" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>